<div class="myModalContainer">
  <div class="modal-header">
        <h4 class="modal-title pull-left font-weight-400 font-16 text-uppercase no-m-b">{{initialState.title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close()" *ngIf="!processing">
            <i class="mdi mdi-close"></i>
        </button>
  </div>
  <div class="modal-body">
      <form #myForm="ngForm" (ngSubmit)="save()" class="form-horizontal">
          <div class="col-md-12 p-t-5 p-b-5 button-region">
                <!--<button type="button" class="btn no-m-r pull-right i-rounded i-red-bordered i-grey-disabled font-16 cursor-pointer m-l-5 icon-only" 
                *ngIf="editMode" [disabled]="processing || deactivating" (click)="deactivate()" ngbTooltip="Deactivate User" placement="top" container="body">
                    <i class="fa fa-ban-o no-m-r" *ngIf="!deactivating"></i>
                    <span *ngIf="deactivating" class="loader loader-small display-inline-block no-animate no-m-l"></span>
                </button>-->
                <button type="submit" class="btn no-m-r pull-right i-rounded i-blue i-grey-disabled font-13 cursor-pointer"
                    [disabled]="processing || !myForm.form.valid || (editMode && !changesMade()) || nameEmpty()">
                    <i class="fa fa-save"></i>
                    Save
                    <span *ngIf="processing" class="loader loader-small display-inline-block ng-hide pull-right no-animate"></span>
                </button>
          </div>

          <div class="col-md-12 modal-body-container">  
              <div class="col-md-12 m-t-10">
                <div class="form-group display-flex">
                    <label class="control-label font-weight-300 m-b-5 label-group-one">Name</label>
                    <div class="flex-grow-100">
                        <input type="text" name='name' class="form-control big-input flex-grow-100" [(ngModel)]="Department.name"
                        required [ngClass]="{'input-validation-error': fieldErrors.Name}" />
                        <span *ngIf="fieldErrors.Name" class="field-validation-error white-space-pre">{{fieldErrors.Name}}</span>
                    </div>
                </div>
              </div>
          </div>
      </form>
  </div>
</div>

