<section class="ls s-pt-50 s-pb-100 shop_account_login">
    <div class="container">
        <div class="row">

            <div class="d-none d-lg-block divider-65"></div>


                        <div class="col-md-4">
                            <h1> Listacc Academy Portal Login</h1>
                        </div>

                        <div class="col-md-4">
                            <form  method="post">
                                <div class="form-group ">
                                    
                                    <input type="text" class="form-control" name="username" id="username" placeholder="Username or email address" value="">
                                </div>
                                <div class="form-group ">
                                   
                                    <input class="form-control" type="password" name="password" placeholder="Password" id="password">
                                </div>
                               

                                <div class="form-row-wide text-center animate" data-animation="floating" data-delay="150">
                                    <a class="login-btn"> <i class="fal fa-sign-in fa-2x" ></i></a>
                                    
                                </div>
                               
                            </form>
                        </div>
                        <div class="col-md-4"></div>
                       
                   

           

            <div class="d-none d-lg-block divider-95"></div>
        </div>

    </div>
</section>