<section class="page_title ls s-py-50 corner-title ls invise overflow-visible">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1> Our Solutions</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/">Home</a>
                    </li>
                   
                    <li class="breadcrumb-item active">
                        Solutions
                    </li>
                </ol>
                <div class="divider-15 d-none d-xl-block"></div>
            </div>
        </div>
    </div>
</section>










<section class="ls s-pt-20 s-pb-75 s-pt-lg-50 s-pb-lg-130 icon-service">
    <div class="d-none d-lg-block divider-40"></div>
    <div class="container">
        <div class="row">
            <div class="row border-bottom c-mb-md-50">
                <div class="col-md-9">
                    <div class="media clients-logo">
                        <img src="../assets/images/solutions/schoolcaterlogo2.PNG" alt="">
                        <div class="media-body" >
                            <h4>
                                <a href="https://schoolcater.com/"> SchoolCater</a>
                            </h4>
                            <p class="text-justify">
                                With the dual vision of accelerating the absolute takeover of digital in 
                                school management processes and the advancement of digital education in Nigeria, 
                                SchoolCater is eating deeper and deeper into Nigeria’s educational system.  It is the 
                                only digital suite that makes school management really sweet. 
                                Among other values such as digital assessments, reporting and biometrics 
                                attendance and monitoring systems,  Schoolcater processes over <strong> 25,000</strong>  academic reports 
                                annually and makes them available online for students to assess.
                            </p>
                            <a href="https://schoolcater.com/" class="btn-link"> Know More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li> Students Management</li>
                        <li> Staff Management</li>
                        <li> Result Processing</li>
                        <li> E-Learning </li>
                        <li> Online Assessments </li>
                    </ul>
                </div>
            </div>
            <div class="divider-30"></div>
            <div class="row border-bottom c-mb-md-50">
                <div class="col-md-9">
                    <div class="media " >
                        <img src="../assets/images/solutions/fingerprint3.png" alt="">
                        <div class="media-body">
                            <h4>
                                <a disabled >Bio Tracker</a>
                            </h4>
                            <p class="text-justify">
                               Bio Tracker is a biometric verification and attendance system that enable you track your employees or students in any location.
                               This is an innovative software that can be integrated into any platform and very easy to use. The app uses finger print 
                               recognition and other biometric technology to confirm the user and clock the person in. It can be used in schools for both students
                               and teachers attendance.

                            </p>
                           
                            <a routerLink="/contacts" class="btn-link"> Want to know more? contact us </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li> Reports</li>
                        <li> Offline Clock in and Clock out</li>
                        <li> Staff Management </li>
                    </ul>
                </div>
            </div>
            <div class="divider-30"></div>
            <div class="row border-bottom c-mb-md-50">
                <div class="col-md-9">
                    <div class="media small-margin" >
                      
                        <img src="../assets/images/solutions/testroom.png" alt="">
                      
                        <div class="media-body ">
                            <h4>
                                <a disabled>TestBroom </a>
                            </h4>
                            <p>
                                TestBroom is a web based assessment and interview platform specifically made for organizations and 
                                companies to carry out their interview assessments. It is very flexible, robust and availiable on demand.
                            </p>
                            
                            <a routerLink="/contacts" class="btn-link"> Want to know more? contact us </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li> Online tests</li>
                        <li> Candidate Reports</li>
                        <li> Easy to use </li>
                        
                    </ul>
                </div>
            </div>
            <div class="divider-30"></div>
            <div class="row border-bottom c-mb-md-50">
                <div class="col-md-9">
                    <div class="media " >
                        <img src="../assets/images/solutions/ListaccFinance.png" alt="">
                        <div class="media-body">
                            <h4>
                                <a disabled >Listacc Finance</a>
                            </h4>
                            <p class="text-justify">
                              Listacc Finance  is a software application that facilitates the management 
                              of business processes that deal with money. It gives businesses the ability to track
                               income and accurately compare it to expenditure. It also helps a businesses to take full advantage
                                of all the data in their financial system and view finance holistically.

                            </p>
                           
                            <a routerLink="/contacts" class="btn-link"> Want to know more? contact us </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li> Reports</li>
                        <li> Income Tracking</li>
                        <li> Charts </li>
                        <li> Cloud Backup </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-lg-block divider-25"></div>
</section>


<section class="s-pt-30 s-pt-lg-50 ls about">
    
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="main-content text-center">
                    <h2>
                        Our Other <span>Projects </span>
                    </h2>
                   
                    <div class="divider-10 d-none d-xl-block"></div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="ls ms s-pt-50 s-pb-100 s-pt-md-75 s-pt-lg-50 s-pb-lg-130 c-mb-30 service-item1">
    <div class="d-none d-lg-block divider-65"></div>
    <div class="container">
        <div class="row">
            
            <div class="col-md-6 col-sm-12">
                <div class="icon-box text-center hero-bg animate" data-animation="fadeInUp" >
                    <div class="service-icon image-width">
                        <img src="../assets/images/solutions/logo_2.png" alt="">
                    </div>
                    <h6>
                        <a disabled>Evangel Daily Meal Devotional</a>
                    </h6>
                    <p>
                        An Android based devotional platform, designed for Assemblies of God Nigeria. 
                                      
                    </p>
                    
                </div>
            </div>
            <!-- .col-* -->

            <div class="col-md-6 col-sm-12">
                <div class="icon-box text-center hero-bg animate" data-animation="fadeInUp">
                    <div class="service-icon image-width">
                        <img src="../assets/images/solutions/Logo_v2.png" alt="">
                    </div>
                    <h6>
                        <a disabled >Sunday School Lessons & Library</a>
                    </h6>
                    <p>
                        Sunday School Lessons Library is an Android based mobile app designed for Assemblies of God Nigeria
                    </p>
                    
                </div>
            </div>
            <!-- .col-* -->

            <div class="col-md-6 col-sm-12">
                <div class="icon-box text-center hero-bg animate" data-animation="fadeInUp">
                    <div class="service-icon image-width">
                        <img src="../assets/images/clients/quickwaka.jpg" alt="">
                    </div>
                    <h6>
                        <a disabled > QuickWaka </a>
                    </h6>
                    <p>
                        A digital errand service poised to meet the needs of both corporate and domestic errands: 
                        to be launched in June 2020.
                </div>
            </div>
            <!-- .col-* -->






            <div class="col-md-6 col-sm-12">
                <div class="icon-box text-center hero-bg animate" data-animation="fadeInUp">
                    <div class="service-icon image-width">
                        <img src="../assets/images/academy/academy.jpg" alt="">                    </div>
                    <h6>
                        <a disabled > Construction, deployment, networking and Security of  Data / ICT Center </a>
                    </h6>
                    <p>
                        We completed the construction and equiping of ultra mordern ICT centers in Annunciation Schools and Holy Trinity 
                    College Ebonyi State.                    
                     </p>
                   
                </div>
            </div>
            <!-- .col-* -->
            


            <div class="col-md-6 col-sm-12">
                <div class="icon-box text-center hero-bg animate" data-animation="fadeInUp">
                    <div class="service-icon image-width">
                        <i class="fal fa-graduation-cap fa-6x" style="color: #d49855;" ></i>
                    </div>
                    <h6>
                        <a disabled > ACCAD (Coming soon) </a>
                    </h6>
                    <p>
                        An Online E-learning Platform for both basic and advance skills, with the main focus of delivering local
                        content.
                    </p>
                   
                </div>
            </div>





            <div class="col-md-6 col-sm-12">
                <div class="icon-box text-center hero-bg animate" data-animation="fadeInUp">
                    <div class="service-icon image-width">
                        <i class="fad fa-home fa-6x" style="color: #d49855;" ></i>
                    </div>
                    <h6>
                        <a disabled > Home Pride (Coming soon) </a>
                    </h6>
                    <p>
                        A mobile Based Home Services platform. 
                    </p>
                   
                </div>
            </div>






           

        </div>
    </div>
    <div class="d-none d-lg-block divider-45"></div>
</section>

