
<div  class="margin-div" >
<section class="page_title ls s-py-50 corner-title ls invise overflow-visible">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Testimonials</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="./">Home</a>
                    </li>
                    
                    <li class="breadcrumb-item active">
                        Testimonials
                    </li>
                </ol>
                <div class="divider-15 d-none d-xl-block"></div>
            </div>
        </div>
    </div>
</section>


<section class="ls s-pt-20 s-pb-130 s-pb-lg-100 testimonials-page">
    <div class="container">
        <div class="divider-75 d-none d-xl-block"></div>
        <div class="row c-mb-lg-30 c-gutter-60">
            <div class="col-md-6">
                <div class="text-center">
                    <div class="testimonials-item">
                        <img src="images/face_1.jpg" alt="">
                    </div>
                    <h6>
                        Josephine B. Anderson
                    </h6>
                    <p>
                        This guys are awesome! It is hard to find a web design company who can actually listen and understand what you need. I’m 100% satisfied with this guys.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <div class="testimonials-item">
                        <img src="images/face_2.jpg" alt="">
                    </div>
                    <h6>
                        George M. Baty
                    </h6>
                    <p>
                        I needed more leads for my services. Pay-per-click, banners of maybe even broschures. They made an analysis of my existing site. It occurred that my webdite is banned with Google.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <div class="testimonials-item">
                        <img src="images/face_3.jpg" alt="">
                    </div>
                    <h6>
                        Jeffrey P. McAllister
                    </h6>
                    <p>
                        I highly recommend this company for all and any of your design needs. I am very happy with the new redesigned and restructured website they built for my moving company!
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <div class="testimonials-item">
                        <img src="images/face_5.jpg" alt="">
                    </div>
                    <h6>
                        Janine T. Austin
                    </h6>
                    <p>
                        This guys are awesome! It is hard to find a web design company who can actually listen and understand what you need. I’m 100% satisfied with this guys.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <div class="testimonials-item">
                        <img src="images/face_4.jpg" alt="">
                    </div>
                    <h6>
                        Kelly L. McMeans
                    </h6>
                    <p>
                        I needed more leads for my services. Pay-per-click, banners of maybe even broschures. They made an analysis of my existing site. It occurred that my webdite is banned with Google.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <div class="testimonials-item">
                        <img src="images/face_6.jpg" alt="">
                    </div>
                    <h6>
                        Charles K. Silvey
                    </h6>
                    <p>
                        I highly recommend this company for all and any of your design needs. I am very happy with the new redesigned and restructured website they built for my moving company!
                    </p>
                </div>
            </div>
        </div>
        <div class="divider-70 d-none d-xl-block"></div>
    </div>
</section>

</div>
