


<span class="toggle_menu_side header-slide">
    <span></span>
</span>

<section class="page_slider main_slider"  >
    <div class="flexslider" data-nav="true" data-dots="false">
        <ul class="slides">
            <li class="ds text-center slide1">

                <span class="embed-responsive">
                    <img src="../assets/images/design3.jpg" alt="">
                </span>
               
               
                <div class="container">
                    <div class="row">
                        <div class="col-12 itro_slider">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer" data-animation="fadeIn">
                                        <p class="text-uppercase intro_after_featured_word">welcome to</p>
                                    </div>

                                    <div class="intro_layer" data-animation="slideRight">
                                        <h2 class="text-uppercase intro_featured_word">
                                            Listacc Ltd
                                        </h2>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeIn">
                                        <h3 class="intro_before_featured_word">
                                            <span class="color-main2"> Tech</span>,
                                            <span class="color-main3"> Passion</span> &
                                            <span class="color-main4">Style</span>
                                        </h3>
                                    </div>
                                    <div class="intro_layer page-bottom" data-animation="expandUp">
                                        <a class="btn btn-maincolor" routerLink="/contacts">Get Started</a>
                                    </div>
                                </div>
                                <!-- eof .intro_layers -->
                            </div>
                            <!-- eof .intro_layers_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
                <div class="flexslider-bottom d-none d-xl-block">
                    <a routerLink="/contacts" class="mouse-button animated floating"></a>
                </div>
            </li>
            <li class="ds text-center slide2">
                
                <img src="../assets/images/design3.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-12 itro_slider">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer" data-animation="fadeIn">
                                        <h3 class="intro_before_featured_word">
                                            Enterprise
                                        </h3>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeIn">
                                        <h2 class="text-uppercase intro_featured_word">
                                            Software
                                        </h2>
                                    </div>
                                    <div class="intro_layer" data-animation="pullDown">
                                        <p class="text-uppercase intro_after_featured_word">Solutions</p>
                                    </div>
                                    <div class="intro_layer page-bottom" data-animation="expandUp">
                                        <a class="btn btn-maincolor" routerLink="/contacts">Get Started</a>
                                    </div>
                                </div>
                                <!-- eof .intro_layers -->
                            </div>
                            <!-- eof .intro_layers_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
                <div class="flexslider-bottom d-none d-xl-block">
                    <a routerLink="/contacts" class="mouse-button animated floating"></a>
                </div>
            </li>




            
        </ul>
    </div>
    <!-- eof flexslider -->
    
    
    
</section>
<div class="divider-10 d-block d-sm-none"></div>
<section class="s-pt-30 s-pt-lg-50 s-pt-xl-25 ls about-home" id="about">
    <div class="divider-5 d-none d-xl-block"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div class="main-content text-center">
                    <div class="img-wrap text-center">
                        <img src="../assets/images/img/vertical_line.png" alt="">
                        <div class="divider-35"></div>
                    </div>
                    <h5>
                       Our Focus 
                    </h5>
                    <p>
                        At <strong>Listacc</strong> we provide solutions that meet global standard to individuals and 
                        businesses, challenging new frontiers through tech innovations from inside Africa. We focus on 
                        empowering individuals with solutions to live a better
                          life and do more.
                    </p>
                    <div class="divider-30"></div>
                    <div class="img-wrap text-center">
                        <img src="../assets/images/img/vertical_line.png" alt="">
                    </div>

                    <!-- modal contact pop up-->


<!--end of modal contact pop up-->



                    <div>
                        <div class="divider-40"></div>
                        <button type="button" class="btn btn-outline-maincolor" data-toggle="modal" data-target="#modalContactForm">Get in-touch</button>
                        <div class="divider-40"></div>
                    </div>
                    <div class="img-wrap text-center">
                        <img src="../assets/images/img/vertical_line.png" alt="">
                    </div>
                    <div class="divider-10 d-none d-xl-block"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider-10 d-block d-sm-none"></div>
</section>

<section class="s-pt-30 s-pb-3 service-item2 ls animate" id="services" data-animation="fadeInUp">
    <div class="container">
        <div class="row c-mb-50 c-mb-md-60">
            <div class="d-none d-lg-block divider-20"></div>
            <div class="col-12 col-md-6 col-lg-4 animate" data-animation="fadeInUp">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="../assets/images/services/desktop.png" alt="">
                    </div>
                    <div class="item-content">
                        <h6>
                            <a disabled>Desktop Solutions</a>
                        </h6>

                        <p>
                            We provide enterprise solutions to large and small businesses, Schools, Financial Institutions, etc.
                            Mention what you want, we will deliver it.
                        </p>

                    </div>
                </div>
            </div>
            <!-- .col-* -->
            <div class="col-12 col-md-6 col-lg-4 animate" data-animation="fadeInUp">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="../assets/images/services/website-design.png" alt="">
                    </div>
                    <div class="item-content">
                        <h6>
                            <a disabled>Web Applications </a>
                        </h6>

                        <p>
                            If it is going to run on the web, our team will bring it to life. 
                            Tablets, Mobile, Smartphones, iOS, Android, Windows Phone. Our Web solutions are suitable for all screens.
                        </p>

                    </div>
                </div>
            </div>
            <!-- .col-* -->
            <div class="col-12 col-md-6 col-lg-4 animate" data-animation="fadeInUp">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="../assets/images/services/mobile-app.png" alt="">
                    </div>
                    <div class="item-content">
                        <h6>
                            <a disabled> Mobile Applications </a>
                        </h6>

                        <p>
                        We design and develop enterprise Mobile Applications which built to scale and perform very much better on both high and low specification devices.
                        </p>
                    </div>
                </div>
            </div>
            <!-- .col-* -->
            <div class="col-12 col-md-6 col-lg-4 animate" data-animation="fadeInUp">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="../assets/images/services/it.png" alt="">
                    </div>
                    <div class="item-content">
                        <h6>
                            <a disabled> IT Consulting</a>
                        </h6>

                        <p>
                            We offer services aimed at helping clients with utilising information
                             technology (IT) and digital assets to optimally achieve their business goals.
                        </p>
                    </div>
                </div>
            </div>
            <!-- .col-* -->
            <div class="col-12 col-md-6 col-lg-4 animate" data-animation="fadeInUp">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="../assets/images/services/training.png" alt="">
                    </div>
                    <div class="item-content">
                        <h6>
                            <a disabled>Training & Capacity Building</a>
                        </h6>

                        <p>
                            We offer industry standard skill acquisition and capacity build in our ulta-mordern training facilities.
                            We equip you with the right skills to compete in todays market. 
                        </p>

                    </div>
                </div>
            </div>
            <!-- .col-* -->
            <div class="col-12 col-md-6 col-lg-4 animate" data-animation="fadeInUp">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="../assets/images/services/data2.png" alt="">
                    </div>
                    <div class="item-content">
                        <h6>
                            <a disabled> Data/ICT Center Set-Up</a>
                        </h6>

                        <p>
                           We specialize in the building, designing and equiping data and ict 
                           centers with the latest hardware both for JAMB and other commercial activities.
                        </p>

                    </div>
                </div>
            </div>
            <!-- .col-* -->

            <div class="col-12 col-md-6 col-lg-4 animate" data-animation="fadeInUp">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="../assets/images/services/server(1).png" alt="">
                    </div>
                    <div class="item-content">
                        <h6>
                            <a disabled> Networking</a>
                        </h6>

                        <p>
                            We have Expert Network Engineers that are availiable to handle all your networking needs.
                            We use the best network architecture to deliver our service.
                        </p>

                    </div>
                </div>
            </div>
            <!-- .col-* -->


            <div class="col-12 col-md-6 col-lg-4 animate" data-animation="fadeInUp">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="../assets/images/services/ecommerce3.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h6>
                            <a disabled> E-Commerce Solutions</a>
                        </h6>

                        <p>
                            Our E-commerce solutions are the products and services that
                             help a company conduct business electronically. Our Solutions allow
                              businesses to operate on the World Wide Web.
                        </p>

                    </div>
                </div>
            </div>
            <!-- .col-* -->



            <div class="col-12 col-md-6 col-lg-4 animate" data-animation="fadeInUp">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="../assets/images/services/api.png" alt="">
                    </div>
                    <div class="item-content">
                        <h6>
                            <a disabled> Cloud Computing </a>
                        </h6>

                        <p>
                           we deliver on-demand computing services
                            from applications to storage and processing power, typically over the internet. 
                        </p>

                    </div>
                </div>
            </div>
            <!-- .col-* -->


        </div>
        <div class="pink-line text-center">
            <img src="../assets/images/img/vertical_line.png" alt="">
        </div>
    </div>
</section>


<section class="s-pt-100 s-pt-lg-130 ds ms process-part skew_right s-parallax top_white_line_big overflow-visible" id="steps">
    <div class="container">
        <div class="divider-65"></div>
        <div class="row align-items-center c-mb-20 c-mb-lg-60">
            <div class="col-12 col-lg-4">
                <div class="step-left-part text-right">
                    <h2 class="step-title">
                        <span class="color-main">01</span>Speed</h2>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="step-center-part text-center">
                    <img src="../assets/images/values/speed.png" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="step-right-part">
                    <p class="step-text">  A late solution is no solution. In life, time sometimes makes the
                         difference between what is useful and what is not. We therefore make it our duty to 
                         deliver swiftly on any task given to us.
                    </p>
                </div>
            </div>
        </div>
<br/>
        <div class="row align-items-center right c-mb-20 c-mb-lg-60">
            <div class="col-12 col-lg-4  order-lg-3">
                <div class="step-left-part">
                    <h2 class="step-title color1">
                        <span class="color-main2">02</span>Tenacity</h2>
                </div>
            </div>
            <div class="col-12 col-lg-4 order-lg-2">
                <div class="step-center-part text-center">
                    <img src="../assets/images/values/effort.png" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-4 order-lg-1 text-right">
                <div class="step-right-part ">
                    <p class="step-text">We tackle hard problems. Sometimes we don’t get it right at first, but we stay on it. 
                        Our belief is that no problem is without a solution if we keep trying.</p>
                </div>
            </div>
        </div>
        <br/>
        <div class="row align-items-center c-mb-20 c-mb-lg-60">
            <div class="col-12 col-lg-4">
                <div class="step-left-part text-right part3">
                    <h2 class="step-title">
                        <span class="color-main3">03</span>Leading Edge Technology</h2>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="step-center-part text-center">
                    <img src="../assets/images/values/user.png" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="step-right-part">
                    <p class="step-text"> We believe that technology is the root of progress. If well executed,
                         innovation invariably drives the course of humanity forward. Hence, we addict ourselves to creating 
                         new tech and making use of the most efficient existing ones. 
                        Our goal is always the most effective solution, thus we cannot afford to use rusty old tech.</p>
                </div>
            </div>
        </div>
        <br/>
        <div class="row align-items-center right c-mb-20 c-mb-lg-60">
            <div class="col-12 col-lg-4  order-lg-3">
                <div class="step-left-part part4">
                    <h2 class="step-title color1">
                        <span class="color-main4">04</span>Integrity</h2>
                </div>
            </div>
            <div class="col-12 col-lg-4 order-lg-2">
                <div class="step-center-part text-center last">
                    <img src="../assets/images/values/medal.png" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-4 order-lg-1 text-right">
                <div class="step-right-part ">
                    <p class="step-text"> For us, business is an activity that should be carried out in good faith. We
                        are honest about our intentions and purposes. We believe that businesses
                        must do good while making money. Our promises are not just words, they are our bond. </p>
                </div>
            </div>
        </div>
        <br/>

        <div class="row align-items-center c-mb-20 c-mb-lg-60">
            <div class="col-12 col-lg-4">
                <div class="step-left-part text-right part3">
                    <h2 class="step-title">
                        <span class="color-main2">05</span>Customer Friendliness</h2>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="step-center-part text-center">
                    <img src="../assets/images/values/agreement.png" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="step-right-part">
                    <p class="step-text">Solutions are created for people. We exist as a company because of these 
                        people for whom .We therefore believe it falls to our lot to put ourselves in our customers’ shoes, 
                        to actively listen to the details of their needs, and to think hard about  hard problems. </p>
                </div>
            </div>
        </div>
        <br/>

        <div class="row align-items-center right c-mb-20 c-mb-lg-60">
            <div class="col-12 col-lg-4  order-lg-3">
                <div class="step-left-part part4">
                    <h2 class="step-title color1">
                        <span class="color-main3">06</span>Capacity Building</h2>
                </div>
            </div>
            <div class="col-12 col-lg-4 order-lg-2">
                <div class="step-center-part text-center last">
                    <img src="../assets/images/values/training(1).png" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-4 order-lg-1 text-right">
                <div class="step-right-part ">
                    <p class="step-text">We believe that people can improve when they make efforts to. 
                        Human ability is expansive. It is therefore always a worthy investment to build 
                        people up. We feel satisfied only if our contact with you has made you better than we met you.
                        </p>
                </div>
            </div>
        </div>





        



        <div class="divider-10 d-block d-sm-none"></div>
        <div class="img-wrap text-center">
            <img src="../assets/images/img/vertical_line2.png" alt="">
        </div>
       
        <div class="divider-30 d-none d-xl-block"></div>
    </div>
</section>

<section class="s-pt-75 s-pt-xl-50 gallery-carousel main-gallery container-px-0" id="gallery">
    <div class="container-fluid">
        <div class="img-wrap text-center">
            <img src="../assets/images/img/vertical_line.png" alt="">
            <div class="divider-40 d-block d-sm-none"></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row justify-content-center">
                    <div class="content">
                       
                            
                            <h3>
                                Our Projects
                            </h3>
                       
                    </div>
                </div>
                <div class="owl-carousel gallery-owl-nav" data-autoplay="true" data-responsive-lg="5" data-responsive-md="3" data-responsive-sm="3" data-responsive-xs="2" data-nav="true" data-dots="false" data-filters=".gallery-filters" data-margin="0" data-loop="true">
                    <div class="vertical-item item-gallery content-absolute text-center ds private">
                        <div class="item-media">
                            <img src="../assets/images/solutions/schoolcaterlogo2.PNG" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" href="https://schoolcater.com/"> schoolcater</a>
                            </h6>
                            <h6>
                                <a href="https://schoolcater.com/"> Digital School Management System </a>
                            </h6>
                        </div>
                    </div>
                    <div class="vertical-item item-gallery content-absolute text-center ds private">
                        <div class="item-media">
                            <img src="../assets/images/solutions/logo_2.png" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" disabled> Evangel Daily Meal </a>
                            </h6>
                            <h6>
                                <a disabled> A mobile based daily devotional</a>
                            </h6>
                        </div>
                    </div>
                    <div class="vertical-item item-gallery content-absolute text-center ds private">
                        <div class="item-media">
                            <img src="../assets/images/solutions/Logo_v2.png" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" disabled>Sunday School Library</a>
                            </h6>
                            <h6>
                                <a disabled> Assemblies of God sunday school manual</a>
                            </h6>
                        </div>
                    </div>
                    <div class="vertical-item item-gallery content-absolute text-center ds public">
                        <div class="item-media">
                            <img src="../assets/images/solutions/fingerprint3.png" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" disabled>Biometrics</a>
                            </h6>
                            <h6>
                                <a disabled>Biometric verification and attendance system</a>
                            </h6>
                        </div>
                    </div>
                    <div class="vertical-item item-gallery content-absolute text-center ds private">
                        <div class="item-media">
                            <img src="../assets/images/clients/quickwaka.jpg" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" disabled>QuickWaka</a>
                            </h6>
                            <h6>
                                <a disabled> A digital errand service </a>
                            </h6>
                        </div>
                    </div>

                    <div class="vertical-item item-gallery content-absolute text-center ds public">
                        <div class="item-media">
                            <img src="../assets/images/solutions/incubator.PNG" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" disabled>Incubator</a>
                            </h6>
                            <h6>
                                <a disabled> Training & Capacity Building </a>
                            </h6>
                        </div>
                    </div>



                    <div class="vertical-item item-gallery content-absolute text-center ds private">
                        <div class="item-media">
                            <img src="../assets/images/solutions/testroom.png" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" disabled> Test Room</a>
                            </h6>
                            <h6>
                                <a disabled> Online interview and test taking platform
                                </a>
                            </h6>
                        </div>
                    </div>

                    <div class="vertical-item item-gallery content-absolute text-center ds public">
                        <div class="item-media">
                            <img src="../assets/images/solutions/git.JPG" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" disabled>Girls in Tech</a>
                            </h6>
                            <h6>
                                <a disabled> Free Capacity Building for Women </a>
                            </h6>
                        </div>
                    </div>
                    


                </div>
                <!-- .owl-carousel-->
            </div>
        </div>
    </div>
    <div class="divider-35"></div>
    <div class="divider-35"></div>
</section>








<section class="ls ms book-item s-pb-30 s-pb-lg-25">
   
    <div class="corner corner-light"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="text-block text-center">
                   
                    <div class="img-wrap text-center">
                        <img src="../assets/images/img/vertical_line.png" alt="">
                        <div class="divider-35"></div>
                    </div>
                    <h3>
                       Our Vision
                       
                    </h3>
                    <p>
                        We pursue a global vision to put technological solutions in the hands of every professional individual, businesses, organisation and contributing  to solve social problems.
                    </p>
                    <div class="divider-30"></div>
                    <div class="img-wrap text-center">
                        <img src="../assets/images/img/vertical_line.png" alt="">
                    </div>
                </div>
            </div>
            <div class="divider-40"></div>
     
                    

       </div>
       </div>
       
</section>



<section class="ls s-pt-5 s-pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="content">
               
                    
                    <h3>
                        Our Clients
                    </h3>
               
            </div>
        </div>
        <div class="divider-80 d-none d-lg-block"></div>
        <div class="row c-mt-30">
            
            <div class="col-6 col-md-3  animate clients-logo" data-animation="fadeInUp">
                <img src="../assets/images/clients/annunciation.jpg" alt="">
            </div>
            <div class="col-6 col-md-3  animate clients-logo" data-animation="fadeInUp">
                <img src="../assets/images/clients/assembliesofgod.png" alt="">
            </div>

            <div class="col-6 col-md-3  animate clients-logo" data-animation="fadeInUp">
                <img src="../assets/images/clients/jamb.jpg" alt="">
            </div>
            <div class="col-6 col-md-3  animate clients-logo" data-animation="fadeInUp">
                <img src="../assets/images/clients/holyghost.png" alt="">
            </div>
            <div class="col-6 col-md-3  animate clients-logo" data-animation="fadeInUp">
                <img src="../assets/images/clients/statesman.png" alt="">
            </div>
            <div class="col-6 col-md-3  animate clients-logo" data-animation="fadeInUp">
                <img src="../assets/images/clients/quickwaka.jpg" alt="">
            </div>

            <div class="col-6 col-md-3  animate clients-logo" data-animation="fadeInUp">
                <img src="../assets/images/clients/EVANGEL.png" alt="">
            </div>
            <div class="col-6 col-md-3  animate clients-logo" data-animation="fadeInUp">
                <img src="../assets/images/clients/redemers.png" alt="">
            </div>
            <div class="col-6 col-md-3  animate clients-logo" data-animation="fadeInUp">
                <img src="../assets/images/clients/sttheresas.jpg" alt="">
            </div>
            
        </div>
        <div class="divider-75 d-none d-lg-block"></div>
    </div>
</section>



<section class="ls ms blog-post-carousel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="content text-center">
               
                    
                    <h3>
                        Upcoming Events
                    </h3>
               
            </div>
            <div class="divider-10 d-block d-sm-none"></div>
                <div class="owl-carousel" data-responsive-lg="4" data-responsive-md="3" data-responsive-sm="2" data-responsive-xs="1" data-nav="false" data-dots="false" data-loop="true" data-margin="4">
                    <article class="box text-center">
                        <div class="item-content">
                            <p class="small-text">
                                <a disabled> June, 2020</a>
                            </p>
                            <h6>
                                <a disabled > Deployment/Launch of QuickWaka Web Platform and TestRoom Web Platform</a>
                            </h6>
                            <div class="post-author color-main">
                                <i class="fal fa-rocket-launch fa-2x"></i>
                                <p>
                                    <a disabled> Listacc DevOps</a>
                                </p>
                            </div>
                        </div>
                        <!-- .item-content -->
                    </article>



                    
                    <!-- #post-## -->
                    <article class="box text-center">
                        <div class="item-content ">
                            <p class="small-text">
                                <a disabled >July, 2020</a>
                            </p>
                            <h6>
                                <a disabled> Deployment/Launch of SchoolCater E-Learning Platform.<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp;
                                </a>
                            </h6>
                            <div class="post-author color-main">
                                <i class="fal fa-rocket-launch fa-2x"></i>
                                <p>
                                    <a disabled> Listacc DevOps</a>
                                </p>
                            </div>
                        </div>
                        <!-- .item-content -->
                    </article>
                    <!-- #post-## -->
                    <article class="box text-center">
                        <div class="item-content ">
                            <p class="small-text">
                                <a disabled> July, 2020</a>
                            </p>
                            <h6>
                                <a disabled > ICT Bootcamp 2020 <br>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </a>
                            </h6>
                            <div class="post-author color-main">
                                <i class="fal fa-chalkboard-teacher fa-2x"></i>
                                <p>
                                    <a routerLink="/academy">Listacc Academy</a>
                                </p>
                            </div>
                        </div>
                        <!-- .item-content -->
                    </article>
                    <!-- #post-## -->
                    <article class="box text-center">
                        <div class="item-content ">
                            <p class="small-text">
                                <a disabled>August, 2020</a>
                            </p>
                            <h6>
                                <a disabled> Incubator 3.0 <br>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </a>
                            </h6>
                            <div class="post-author color-main">
                                <i class="fal fa-chalkboard-teacher fa-2x"></i>
                                <p>
                                    <a routerLink="/academy"> Listacc Academy </a>
                                </p>
                            </div>
                        </div>
                        <!-- .item-content -->
                    </article>
                    <!-- #post-## -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="s-pt-130 s-pb-15 s-pb-md-50 s-pt-xl-100 s-pb-lg-30 overflow-visible s-parallax testimonials-sliders main-testimonials ds" id="testimonials">
    <div class="corner ls ms"></div>
    <div class="container">
        <div class="row c-mt-30 c-mt-md-0">
            <div class="divider-20"></div>
            <div class="text-center img-wrap line col-md-12">
                <img src="../assets/images/img/vertical_line2.png" alt="">
            </div>
            <div class="divider-40 d-none d-md-block"></div>
            <div class="col-md-12">
                <div class="owl-carousel" data-autoplay="true" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-nav="false" data-dots="true" id="quote">
                    <div class="quote-item">
                        <div class="quote-image">
                            <img src="../assets/images/obijiofor.jpg" alt="">
                        </div>
                        <p class="small-text author-job">
                            St Patrick's Catholic Church
                        </p>
                        <h5>
                            <a disabled> Fr. Livinius Obijiofor</a>
                        </h5>
                        <p>
                            <em class="big">
                               Listacc Ltd built, equipped and networked our ultra mordern ICT center at Annunciation Secondary School. 
                               They also deployed SchoolCater, a powerful school management system for my school. Listacc services are
                               of very high standard and i have been very pleased.
                            </em>
                        </p>
                    </div>
                    <div class="quote-item">
                        <div class="quote-image">
                            <img src="../assets/images/quickwakaorji.jpg" alt="">
                        </div>
                        <p class="small-text author-job">
                           QuickWaka
                        </p>
                        <h5>
                            <a href="#">Hyacinth Orji</a>
                        </h5>
                        <p>
                            <em class="big">
                                I highly recommend this company for all and any of your Web development needs. 
                                I am very happy with the new design and deployment of my website www.quickwaka.com,
                                my business has improved a lot and i am a satisfied client.
                            </em>
                        </p>
                    </div>
                    <div class="quote-item">
                        <div class="quote-image">
                            <img src="../assets/images/engrkc.jpg" alt="">
                        </div>
                        <p class="small-text author-job">
                           Holy Ghost Secondary school
                        </p>
                        <h5>
                            <a href="#"> Engr. Kelechi Oko</a>
                        </h5>
                        <p>
                            <em class="big">
                                These guys are awesome! It is hard to find a company that provides excellent services and also 
                                who can actually listen and understand what you need.
                                 I’m 100% satisfied with the services that SchoolCater provide. 
                                 SchoolCater is the backbone of my school management which is exactly what I needed and even more...
                            </em>
                        </p>

                    </div>
                </div>
                <!-- .testimonials-slider -->
            </div>
            <div class="divider-55 d-none d-md-block"></div>
            <div class="text-center img-wrap col-md-12">
                <img src="../assets/images/img/vertical_line2.png" alt="">
            </div>
            <div class="divider-10 d-none d-md-block"></div>
        </div>
    </div>
    <div class="testimonials-btn text-center">
        <a disabled class="btn-maincolor">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
    <div class="corner corner-light"></div>
</section>

<section class="s-pt-130 s-pt-md-50 ls text-section">
    <div class="divider-30"></div>
    <div class="container">
        <div class="row">
            <div class="text-center col-md-12 justify-content-center text-block">
                <img src="../assets/images/img/vertical_line.png" alt="">
                <div class="divider-35"></div>
                <div class="content">
                    <h1>
                        Lets Get Started
                        <br>  with Your Project
                    </h1>
                    <p>
                        We’ll help achieve your goals and grow your business.
                    </p>
                    <div class="divider-30"></div>
                </div>
                <img src="../assets/images/img/vertical_line.png" alt="">
                <div>
                    <div class="divider-40"></div>
                    <a class="btn btn-outline-maincolor" data-toggle="modal" data-target="#modalContactForm">Let’s Talk!</a>
                    <div class="divider-30"></div>
                </div>
                <div class="img-wrap overflow-visible">
                    <img src="../assets/images/img/vertical_line.png" alt="">
                    <div class="divider-5 d-none d-xl-block"></div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="s-pt-50 s-pb-100 s-pt-lg-30 s-pb-lg-75 ls ms teaser-contact-icon main-icon s-parallax" id="contact">
    <div class="corner corner-inverse"></div>
    <div class="text-center img-wrap col-md-12">
        <img src="../assets/images/img/dark_line_short.png" alt="">
    </div>
    <div class="container">
        <div class="divider-10 d-none d-xl-block"></div>
        <div class="row c-mb-50 c-mb-lg-0">
            <div class="col-lg-4 text-center">
                <div class="border-icon">
                    <div class="teaser-icon">
                        <img src="../assets/images/img/icon1.png" alt="">
                    </div>
                </div>
                <h6>
                    Call Us
                </h6>
                <p>
                     <span class="color-main"> 081</span>-66300937
                    <br>
                    <span class="color-main"> 070</span>-39466051
                    <br>
                     <span class="color-main"> 081</span>-38699452
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <div class="border-icon">
                    <div class="teaser-icon">
                        <img src="../assets/images/img/icon3.png" alt="">
                    </div>
                </div>
                <h6>
                    Write Us
                </h6>
                <p>
                   info@listacc.com
                   
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <div class="border-icon">
                    <div class="teaser-icon">
                        <img src="../assets/images/img/icon2.png" alt="">
                    </div>
                </div>
                <h6>
                    Visit Us
                </h6>
                <p>
                    4th Floor, DreamLink Concepts Tower, <br> Mile50, Abakaliki
                </p>
            </div>
        </div>
        <div class="divider-30 d-none d-lg-block"></div>
        <div class="text-center img-wrap col-md-12 layout-2">
            <img src="../assets/images/img/dark_line_short.png" alt="">
        </div>
    </div>
    <div class="divider-10"></div>
</section>

<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold"> Get in-Touch </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
  
        <form class="modal-body mx-3" [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
          
                  <div class="md-form mb-5"  >
                  
                    <input type="text" name="Fullname" formControlName="Fullname" class="form-control validate" placeholder="Full Name">
                  
                  </div>
  
                  <div class="md-form mb-5">
                  
                    <input type="email"  class="form-control validate" name="Email" formControlName="Email" placeholder="Email Address">
                  
                  </div>
                  <div class="md-form mb-5">
                  
                      <input type="text"  class="form-control validate" name="Phonenumber" formControlName="Phonenumber" placeholder="Phonenumber">
                      
                    </div>
  
                    <div class="md-form mb-5">
                  
                        <input type="text"  class="form-control validate" name="ProjectType" formControlName="ProjectType" placeholder="Project Type">
                        
                      </div>
    
                  <div class="md-form">
                  
                  <textarea type="text"  formControlName="Description" class="md-textarea form-control" rows="4" placeholder="Description"></textarea>
                  
                  </div>

                  <div class="modal-footer d-flex justify-content-center">
                    <i class="fal fa-paper-plane fa-2x color-main"></i>
                    <input type="submit"  value="Send" class="btn btn-unique btn-outline-maincolor"> 
                </div>
  
                </form>
              
         
      </div>
    </div>
  </div>


