<section class="page_title ls s-py-50 corner-title ls invise overflow-visible">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Team </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="./">Home</a>
                    </li>
                    
                    <li class="breadcrumb-item active">
                        Team 
                    </li>
                </ol>
                <div class="divider-15 d-none d-xl-block"></div>
            </div>
        </div>
    </div>
</section>


<section class="s-pt-75 s-pb-130 c-gutter-0 team1">
    <div class="divider-40 d-none d-xl-block"></div>
    <div class="container">
        <div class="row mb-30">
            <div class="item-media col-12 col-lg-4">
                <img src="../assets/images/team/agozie.jpg" alt="">
            </div>
            <div class="item-content col-12 col-lg-8 ls ms" >
                <h6 class="item-title">
                     Agozie Okechukwu
                </h6>

                <p class="small-text color-main">
                    Chief Executive Officer
                </p>
                <p class="desc">
                    Agozie Is one of the founders of Listacc. As CEO, his responsibilities include the overall
                    management of Listacc’s people and assets, guiding and shaping the vision of the company,
                    and making sure things get done effectively. He devotes much of his time to mentoring
                    members of the team, encouraging them to stretch themselves beyond their perceived limits. 
                    He remains an active developer even with his busy schedule.
                    
                </p>
                <p class="social-icons">
                    <a href="#" ><i class="fab fa-facebook-f"></i> </a> &nbsp; &nbsp;
                    <a href="#"> <i class="fab fa-twitter"></i></a>  &nbsp; &nbsp;
                    <a href="#" > <i class="fab fa-google-plus"></i></a>  &nbsp; &nbsp;
                    <a href="#" > <i class="fab fa-youtube"></i></a>  &nbsp; &nbsp;
                    <a href="#" > <i class="fab fa-linkedin"></i></a>  &nbsp; &nbsp;
                </p>
            </div>
        </div>
        <div class="row mb-30">
            <div class="item-media col-12 col-lg-4">
                <img src="../assets/images/team/ebuka0.jpg" alt="">
            </div>
            <div class="item-content col-12 col-lg-8 ls ms">
                <h6 class="item-title">
                     Olisaemeka Chukwuebuka 
                </h6>

                <p class="small-text color-main">
                    Chief Technical Officer
                </p>
                <p class="desc">
                    As the Chief Technological Officer of the Listacc company, Ebuka is in charge of the Dev-Ops
                        team. His major duty is to lead the engineering team through planning and execution in order to deliver thoroughly engineered products. His emphasis is always on the details and speed.
                        Being co-founder of Listacc alongside Agozie, Ebuka has been here since the beginning. A
                        software engineer with over six years of experience with different technologies, he brings
                        breath, depth, and energy to the team.
                        Originally from ____, Ebuka graduated from the Computer Science department of Covenant
                        University. A winner of several awards in competitive programming, he finished as the best
                        student in his graduating set.

                </p>
                <p class="social-icons">
                    <a href="#" ><i class="fab fa-facebook-f"></i> </a> &nbsp; &nbsp;
                    <a href="#"> <i class="fab fa-twitter"></i></a>  &nbsp; &nbsp;
                    <a href="#" > <i class="fab fa-google-plus"></i></a>  &nbsp; &nbsp;
                    <a href="#" > <i class="fab fa-youtube"></i></a>  &nbsp; &nbsp;
                    <a href="#" > <i class="fab fa-linkedin"></i></a>  &nbsp; &nbsp;
                </p>
            </div>
        </div>
        <div class="row mb-30">
            <div class="item-media col-12 col-lg-4">
                <img src="../assets/images/team/vincent.jpg" alt="">
            </div>
            <div class="item-content col-12 col-lg-8 ls ms">
                <h6 class="item-title">
                    <a href="/team-single-1.html"> Mazi Vincent Esomchi</a>
                </h6>

                <p class="small-text color-main">
                    Head, Training and Network Engineering
                </p>
                <p class="desc">
                    As the head of LICTA, Vincent is first a teacher and a mentor. He has taken hundreds of people
                    through both basic and advanced ICT courses. He is responsible for planning and organizing
                    training sessions, bootcamps, and seminars; setting up ICT centres for clients; and
                    superintending over all the activities of our ICT centres.
                    A graduate of Computer Science department of the renowned University of Nigeria, Nsukka,
                    Vincent has a good background in networking computer systems. His core skills include
                    computer programming and Systems Networking. His expertise has been the backbone behind all Listacc’s ICT centre setups and maintenance.


                </p>
                <p class="social-icons">
                    <a href="#" ><i class="fab fa-facebook-f fa-lg"></i> </a> &nbsp; &nbsp;
                    <a href="#"> <i class="fab fa-twitter"></i></a>  &nbsp; &nbsp;
                    <a href="#" > <i class="fab fa-google-plus"></i></a>  &nbsp; &nbsp;
                    <a href="#" > <i class="fab fa-youtube"></i></a>  &nbsp; &nbsp;
                    <a href="#" > <i class="fab fa-linkedin"></i></a>  &nbsp; &nbsp;
                </p>
            </div>
        </div>
        <div class="row mb-30">
            <div class="item-media col-12 col-lg-4">
                <img src="../assets/images/team/uchechi.jpg" alt="">
            </div>
            <div class="item-content col-12 col-lg-8 ls ms">
                <h6 class="item-title">
                    <a href="/team-single-1.html">Uchechi Okah
                    </a>
                </h6>

                <p class="small-text color-main">
                    Product Manager, SchoolCater

                </p>
                <p class="desc">
                    SchoolCater is Listacc’s flagship product, and it is Uchechi’s duty to manage it. She reports
                    directly to the CEO on matters relating to SchoolCater. As manager, she takes responsibility for
                    SchoolCater’s Product development, marketing, and customer relations. Under her, adoption of
                    SchoolCater has doubled in Abakaliki and it’s environs. Convinced that her product promises a
                    great deal to educational institutions, she dreams of having it adopted throughout Nigeria and
                    beyond.
                    A lover of God and of good food, she is a historian and an expert in International
                    Relations. Before joining Listacc, she had marketed products for some other companies.
                    
                </p>
                <p class="social-icons">
                    <a href="#" ><i class="fab fa-facebook-f"></i> </a> &nbsp; &nbsp;
                    <a href="#"> <i class="fab fa-twitter"></i></a>  &nbsp; &nbsp;
                    <a href="#" > <i class="fab fa-google-plus"></i></a>  &nbsp; &nbsp;
                    <a href="#" > <i class="fab fa-youtube"></i></a>  &nbsp; &nbsp;
                    <a href="#" > <i class="fab fa-linkedin"></i></a>  &nbsp; &nbsp;
                </p>
            </div>
        </div>
        <div class="row mb-30">
            <div class="item-media col-12 col-lg-4">
                <img src="../assets/images/team/nneka.jpg" alt="">
            </div>
            <div class="item-content col-12 col-lg-8 ls ms">
                <h6 class="item-title">
                    <a href="/team-single-1.html">Nneka Ogbonna
                    </a>
                </h6>

                <p class="small-text color-main">
                    Head of Finance

                </p>
                <p class="desc">
                    Nneka takes care of Listacc’s finances. As Head of Finance, she keeps the company’s books.
                    She also works closely with the CEO as a member of the Administrative department of the
                    company in allocating funds for various needs.
                    
                    Over the years, Nneka has kept money for every single group and organisation she has been a
                    part of since her teenage years.
                   
                    
                </p>
                <p class="social-icons">
                    <a href="#" ><i class="fab fa-facebook-f"></i> </a> &nbsp; &nbsp;
                    <a href="#"> <i class="fab fa-twitter"></i></a>  &nbsp; &nbsp;
                    <a href="#" > <i class="fab fa-google-plus"></i></a>  &nbsp; &nbsp;
                    <a href="#" > <i class="fab fa-youtube"></i></a>  &nbsp; &nbsp;
                    <a href="#" > <i class="fab fa-linkedin"></i></a>  &nbsp; &nbsp;
                </p>
            </div>
        </div>
        <div class="row">
            <div class="item-media col-12 col-lg-4">
                <img src="../assets/images/team/agozie.jpg" alt="">
            </div>
            <div class="item-content col-12 col-lg-8 ls ms">
                <h6 class="item-title">
                    <a href="/team-single-1.html">Oluwamuyiwa E. Onigbinde
                    </a>
                </h6>

                <p class="small-text color-main">
                    Software Engineer
                </p>
                <p class="desc">
                    Stet clita kasd gubergren nosea takimata sanctus lorem ipsum dolor sit amet. Lorem ipsum dolor amet consetetur sadipscing elitred diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua vero eos et accusam justo duo
                    dolores et ea rebum stet clita kasd gubergren.
                </p>
                <p class="social-icons">
                    <a href="#" ><i class="fab fa-facebook-f"></i> </a> &nbsp; &nbsp;
                    <a href="#"> <i class="fab fa-twitter"></i></a>  &nbsp; &nbsp;
                    <a href="#" > <i class="fab fa-google-plus"></i></a>  &nbsp; &nbsp;
                    <a href="#" > <i class="fab fa-youtube"></i></a>  &nbsp; &nbsp;
                    <a href="#" > <i class="fab fa-linkedin"></i></a>  &nbsp; &nbsp;
                </p>
            </div>
        </div>
        <div class="d-none d-lg-block divider-75"></div>
    </div>
</section>
