

<section class="page_title ls s-py-50 corner-title ls invise overflow-visible">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Services </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="./">Home</a>
                    </li>
                    
                    <li class="breadcrumb-item active">
                        Services 
                    </li>
                </ol>
                <div class="divider-15 d-none d-xl-block"></div>
            </div>
        </div>
    </div>
</section>


<section class="ls ms s-pt-50 s-pb-100 s-pt-md-75 s-pt-lg-50 s-pb-lg-130 c-mb-30 service-item1">
    <div class="d-none d-lg-block divider-65"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="icon-box text-center hero-bg animate" data-animation="fadeInUp" >
                    <div class="service-icon">
                        <i class="fal fa-desktop-alt fa-4x" style="color: #d49855;" ></i>
                    </div>
                    <h6>
                        <a disabled>Desktop Solutions</a>
                    </h6>
                    <p>
                        We provide enterprise solutions to large and small businesses, Schools, Financial Institutions, etc.
                        Mention what you want, we will deliver it.                    </p>
                    
                </div>
            </div>
            <!-- .col-* -->

            <div class="col-md-6 col-sm-12">
                <div class="icon-box text-center hero-bg animate" data-animation="fadeInUp">
                    <div class="service-icon">
                        <i class="fal fa-browser fa-4x" style="color: #d49855;" ></i>
                    </div>
                    <h6>
                        <a disabled >Web Applications</a>
                    </h6>
                    <p>
                        If it is going to run on the web, our team will bring it to life. 
                        Tablets, Mobile, Smartphones, iOS, Android, Windows Phone. Our Web solutions are suitable for all screens.
                    </p>
                    
                </div>
            </div>
            <!-- .col-* -->

            <div class="col-md-6 col-sm-12">
                <div class="icon-box text-center hero-bg animate" data-animation="fadeInUp">
                    <div class="service-icon">
                        <i class="fal fa-mobile fa-4x" style="color: #d49855;" ></i>
                    </div>
                    <h6>
                        <a disabled > Mobile Applications </a>
                    </h6>
                    <p>
                        Android(Java/Kotlin), Apple iOS(Swift) or Hybrid Development with Flutter, Our Mobile
                        Applications are built to scale and perform very much better on both high and low specification devices.                    </p>
                   
                </div>
            </div>
            <!-- .col-* -->

            <div class="col-md-6 col-sm-12">
                <div class="icon-box text-center hero-bg animate" data-animation="fadeInUp">
                    <div class="service-icon">
                        <i class="fal fa-user-cog fa-4x" style="color: #d49855;" ></i>
                    </div>
                    <h6>
                        <a disabled > IT Consulting </a>
                    </h6>
                    <p>
                        We offer services aimed at helping clients with utilising information
                        technology (IT) and digital assets to optimally achieve their business goals.  
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    
                    </p>
                    
                </div>
            </div>
            <!-- .col-* -->

            <div class="col-md-6 col-sm-12">
                <div class="icon-box text-center hero-bg animate" data-animation="fadeInUp">
                    <div class="service-icon">
                        <i class="fal fa-chalkboard-teacher fa-4x" style="color: #d49855;" ></i>
                    </div>
                    <h6>
                        <a disabled >Training & Capacity building </a>
                    </h6>
                    <p>
                        We offer industry standard skill acquisition and capacity build in our ulta mordern training facilities.
                        Our IT training includes courses related to the application, design, development, implementation, 
                        support or management of computer-based information systems.                     </p>
                   
                </div>
            </div>
            <!-- .col-* -->
            <div class="col-md-6 col-sm-12">
                <div class="icon-box text-center hero-bg animate" data-animation="fadeInUp">
                    <div class="service-icon last">
                        <i class="fal fa-server fa-4x" style="color: #d49855;" ></i>
                    </div>
                    <h6>
                        <a href="service-single1.html">Data/ICT Center Set-Up</a>
                    </h6>
                    <p>
                        We specialize in the building, design and equiping data and ict 
                        centers both for JAMB and other commercial activities.
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; 
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; 
                        
                        
                    
                </div>
            </div>
            <!-- .col-* -->



            <div class="col-md-6 col-sm-12">
                <div class="icon-box text-center hero-bg animate" data-animation="fadeInUp">
                    <div class="service-icon">
                        <i class="fal fa-shopping-cart fa-4x" style="color: #d49855;" ></i>
                    </div>
                    <h6>
                        <a disabled > Ecommerce </a>
                    </h6>
                    <p>
                        Our E-commerce solutions are the products and services that
                             help a company conduct business electronically. Our Solutions allow
                              businesses to design, create, and operate on the World Wide Web sites.          
                    </p>
                   
                </div>
            </div>



            <div class="col-md-6 col-sm-12">
                <div class="icon-box text-center hero-bg animate" data-animation="fadeInUp">
                    <div class="service-icon">
                        <i class="fal fa-network-wired fa-4x" style="color: #d49855;" ></i>
                    </div>
                    <h6>
                        <a disabled > Networking </a>
                    </h6>
                    <p>
                        We have Expert Network Engineers that are availiable to handle all your networking needs.
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; 
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                    </p>
                   
                </div>
            </div>




        </div>
    </div>
    <div class="d-none d-lg-block divider-45"></div>
</section>


