.basic-app-layout {
    div.margin-div{
        margin: 100px 0 30px 0;
    }

    div.margin-div2{
        margin: 0px 0 60px 0;
    }

    .login-div{
        width: 5%;
        height: 40%;
        
        
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .login-btn i {
        font-size: 70px;
        
        
        text-transform: uppercase;
        -webkit-transition: all 0.5s linear 0.5s;
        transition: all 0.5s linear 0.5s;
        text-align: center;
    }
  
    .login-btn i:hover {
        text-shadow: 0 6px 14px 0 #666666;
        transform: scale(0.5s);
        
    }

    .flex-container{
        display: flex;
        flex-direction: row;
    }

    .clients-logo{
        padding:6px 2px;
    }

    .clients-logo img{
        width: 240px;
        height: 200px;   
    }
}


/*===== LOADING BUTTON ===== */
.loader {
    margin-left: 15px;
    font-size: 5px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;

    & ,&:after{
        border-radius: 50%;
        width: 5em;
        height: 5em;
    }

    &.display-inline-block{
        margin-bottom: -7px;
    }

    &.loader-small{
        width: 4em;
        height: 4em;
        margin-left: 5px;
        margin-top: -0.2em;
    }
}
@-webkit-keyframes load8 {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@keyframes load8 {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}


/* Registration Pop-Up */
.no-border-bottom{border-bottom: 0;}
.no-padding-left{padding-left: 0;}
.cursor-pointer{cursor: pointer;}
.display-inline-block { display: inline-block !important }
.field-validation-error {
    color: #b94a48;
    margin-top: -5px;
    display: block;
    letter-spacing: normal;
}
input.input-validation-error, select.input-validation-error, textarea.input-validation-error, div.input-validation-error,
input.input-validation-error.edit-mode, select.input-validation-error.edit-mode, textarea.input-validation-error.edit-mode, 
input.input-validation-error.edit-mode:hover, select.input-validation-error.edit-mode:hover, textarea.input-validation-error.edit-mode:hover  {
    border: 1px solid #b94a48 !important;
}
.white-space-pre {
    font-size: 12px !important;
    white-space: pre;
}
#academy-registration {
    .modal-header {
        padding-bottom: 0;

        .close{
            font-weight: 300;
            font-size: 30px;
        }
        h4{
            margin-bottom: 0;
            padding: 20px 0 0 20px;
            line-height: 40px;
            &.width-100{
                width: 100%;
            }
            span {color: #f5a142}
            i, svg {
                font-size: 80px;
                margin-bottom: 10px;
                color: #40b961;
            }
        }
    }
    .modal-body{
        .body-container {
            padding: 0 20px;
            p {
                line-height: 25px;
                &.hook-one span, &.hook-two span{
                    background: #fff;
                    padding: 0 10px;
                    display: inline-block;
                    font-weight: 500;
                }
                &.hook-two{
                    margin-top: -20px;
                    margin-bottom: 25px !important;
                }
                &.slim { line-height: 22px; color: #565656;}
            }
            .form-control {
                text-align: left;
                height: 48px;
                padding-left: 15px;
                font-size: 14px;
            }
            label span {
                font-size: 10px;
                opacity: .5;
            }
            label.radio-control{
                display: block;
                input {
                    display: inline-block;
                    width: auto;
                    height: auto;
                    margin-top: 0;
                }
                span {
                    padding-left: 5px;
                    vertical-align: text-bottom;
                }
            }
            .countdown {
                margin-bottom: 15px;

                &.mycountup{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-content: center;
                    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                    border: 2px solid #f5a142;
                    margin-top: -20px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }

                .measurements{
                    margin: 0 7px;
                    min-width: 70px;

                    .measurements-number{
                        font-size: 28px;
                        color: #fff;
                        background-color: #666666;
                        font-weight: 500;
                        padding: 15px 0;
                        border-radius: 5px;
                        margin-bottom: 3px;
                    }
                    .measurements-text{
                        color: #9c9a9a;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .modal-footer{
        padding-top: 0;
        justify-content: center;
        border-top: 0;
        .btn{
            font-size: 14px;
            padding: 23px 56px;
            &:disabled:hover{
                background-color: #f5a142;
                color: white;
            }
            &.green{
                font-size: 16px;
                padding: 13px 36px;
                background-color: #40b961;
                &:hover{
                    color: #40b961;
                    background-color: transparent;
                }
            }
        }
    }
}
.comingsoon {
    h2 span.hook-one, h2.hook-two span{
        background: #fff;
        padding: 0 10px;
        display: inline-block;
    }
    h2.hook-two{
        margin-top: -40px;
        margin-bottom: 25px !important;
    }
    .countdown {
        margin-bottom: 25px;
        border: 5px solid #f5a142;
        margin-top: -40px;
        padding-top: 40px;
        padding-bottom: 30px;

        &.mycountup{
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
        }

        .measurements{
            margin: 0 7px;
            font-family: "Poppins", sans-serif;
            border-left: 1px solid rgba(255, 255, 255, 0.15);
            display: table-cell;
            padding: 10px 30px 20px;
            text-align: center;

            .measurements-number{
                color: #f5a142;
                font-size: 80px;
                font-weight: 700;
                line-height: 1;
            }
            .measurements-text{
                color: #323232;
                display: block;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 0.2em;
                min-width: 11em;
                text-transform: uppercase;
            }
        }
    }
}

@media (max-width: 767px) {
    #academy-registration {
        .modal-header{
            h4 {
                font-size: 30px;
                line-height: 33px;
            }
        }
        .modal-body{
            p{
                line-height: 22px;
                margin-bottom: 15px;
            }
        }
    }

    .comingsoon {
        .countdown {
            .measurements {
                padding: 20px 8px 0;

                .measurements-number {
                    font-size: 45px;
                }

                .measurements-text {
                    letter-spacing: 0.1em;
                    min-width: 5em;
                }
            }
        }
    }
}