<section class="page_title ls s-py-50 corner-title ls invise overflow-visible">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1> Listacc ICT Academy </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/">Home</a>
                    </li>
                    
                    <li class="breadcrumb-item active">
                        Academy
                    </li>
                </ol>
                <div class="divider-15 d-none d-xl-block"></div>
            </div>
        </div>
    </div>
    <div class="login-div animate" data-animation="pulse" data-delay="150">                       
        <a routerLink="/login" class="login-btn"><i class="fas fa-sign-in-alt fa-4x"></i></a> 
    </div>
</section>

<section class="ls invise gallery-item3">
    <div class="row">
        <div class="col-lg-12">
            <div class="vertical-item content-padding bordered text-center">
                <div class="item-media">
                    <div class="owl-carousel gallery-owl-nav" data-margin="0" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1" data-dots="true" data-loop="true" data-nav="true" data-autoplay="true">
                        <img src="../assets/images/academy/training.jpg" alt="">
                        <img src="../assets/images/academy/students.jpg" alt="">
                        <img src="../assets/images/academy/training1.jpg" alt="image">
                        <img src="../assets/images/academy/students0.jpg" alt="image">
                        <img src="../assets/images/academy/training4.jpg" alt="image">
                        <img src="../assets/images/academy/training2.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-lg-block divider-80"></div>
</section>

<section class="ls ms s-pt-10 s-pb-130 s-pt-lg-0 s-pb-lg-75 s-pt-xl-20 s-pb-xl-50 c-gutter-60">
    <div class="container c-mt-30">
        <div class="row">
            <div class="d-none d-lg-block divider-55"></div>
            <main class="col-lg-12 col-xl-12">
                <p>
                    Listacc Academy is a training ground for individuals who are eager to 
                    learn and become part of the ever-growing tech industry, with her innovative techniques, and highly motivated 
                    and well-trained professionals who make lessons easier to understand. 
                     A tech academy platform for the acquisition of basic and advanced digital skills,
                    Listacc Academy is established to provide technical trainings in the area of Animations, 
                    Graphic Design, Desktop publishing, Mobile app development(JAVA/Kotlin), Database Administration/Management, 
                    Web Development, Networking etc.                 
                </p>
            </main>
            <!--eof .col-md-* (main content)-->
            <div class="d-none d-lg-block divider-100"></div>
        </div>
    </div>
</section>

<section class="ls s-pt-10 s-pb-130 s-py-lg-130 page_title comingsoon ls s-overlay">
    <div class="d-none d-lg-block divider-70"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center content-soon">
                <h2 class="special-heading">
                    Coming Soon!
                </h2>
                <p>ICT Bootcamp </p>         
                <div id="comingsoon-countdown" data-date="July 01, 2020 10:00:00"></div>
            </div>
            <div class="d-none d-lg-block divider-120"></div>
        </div>
    </div>
</section>

<section class="s-pt-10 s-pb-170 s-pt-lg-60 ls ms c-mt-30 c-mt-lg-0">
    <div class="container">
        <div class="row">
            <div class="divider-65 d-none d-lg-block"></div>
            <div class="col-lg-4 col-md-12">
                <div class="pricing-plan color1 ls">
                    <div class="plan-name">
                        <h3>
                            Desktop Publishing
                        </h3>
                    </div>
                    <div class="price-wrap color-darkgrey">
                        <span class="plan-sign"></span>
                        <span class="plan-price"></span>
                        <span class="plan-decimals"></span>
                    </div>
                    <div class="plan-description color-darkgrey">
                        Beginners Program
                    </div>
                    <div class="plan-features">
                        <ul class="list-bordered">
                            <li> Computer Appreciation</li>
                            <li> Microsoft Word </li>
                            <li> Microsoft Powerpoint </li>
                            <li> Microsoft Excel</li>
                            <li> Microsoft Access</li>
                            <li> Internet Basics</li>
                            <li> Project</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a class="btn inverse-color1">get started</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 ">
                <div class="pricing-plan plan-featured color2">
                    <div class="plan-name">
                        <h3>
                            Website Development <h6><span>Basics</span></h6>
                        </h3>
                    </div>
                    <div class="price-wrap color-light">
                        <span class="plan-sign"></span>
                        <span class="plan-price"></span>
                        <span class="plan-decimals"></span>
                    </div>
                    <div class="plan-description color-light">
                         Novice >>>>> Ninja 
                    </div>
                    <div class="plan-features">
                        <ul class="list-bordered">
                            <li> Introduction to Internet & web</li>
                            <li> HTML</li>
                            <li> CSS</li>
                            <li>Bootstrap</li>
                            <li> Javascript</li>
                            <li> JQuery</li>
                            <li> Project</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a class="btn inverse-color2">get started</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="pricing-plan color3 ls">
                    <div class="plan-name">
                        <h3>
                            Website Development    <h6><span> Advanced </span></h6>
                        </h3>
                    </div>
                    <div class="price-wrap color-darkgrey">
                        <span class="plan-sign"></span>
                        <span class="plan-price"></span>
                        <span class="plan-decimals"></span>
                    </div>
                    <div class="plan-description color-darkgrey">
                         Ninja >>>>> Master 
                    </div>
                    <div class="plan-features">
                        <ul class="list-bordered">
                            <li> Introduction to C#</li>
                            <li> Asp.net Core</li>
                            <li> Database Management (SQL Server)</li>
                            <li> Intoduction to User Interface</li>
                            <li> Angular 8 </li>
                            <li> Project</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a  class="btn inverse-color3">get started</a>
                    </div>
                </div>
            </div>

            <div class="divider-60 d-none d-lg-block"></div>

            <div class="col-lg-4 col-md-12">
                <div class="pricing-plan color1 ls">
                    <div class="plan-name">
                        <h3>
                           Mobile App Development <h6><span> Android (JAVA / Kotlin) </span></h6>
                        </h3>
                    </div>
                    <div class="price-wrap color-darkgrey">
                        <span class="plan-sign"></span>
                        <span class="plan-price"></span>
                        <span class="plan-decimals"></span>
                    </div>
                    <div class="plan-description color-darkgrey">
                         Novice >>>>> Ninja 
                    </div>
                    <div class="plan-features">
                        <ul class="list-bordered">
                            <li> Android Architecture</li>
                            <li> Android Activities </li>
                            <li> Android Services </li>
                            <li> Android UI Design </li>
                            <li>Custom Components</li>
                            <li> Developer Tools</li>
                            <li> Project</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a  class="btn inverse-color1">get started</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 ">
                <div class="pricing-plan plan-featured color2">
                    <div class="plan-name">
                        <h3>
                            Mobile App Development    <h6><span> Hybrid (Flutter) </span></h6>
                        </h3>
                    </div>
                    <div class="price-wrap color-light">
                        <span class="plan-sign"></span>
                        <span class="plan-price"></span>
                        <span class="plan-decimals"></span>
                    </div>
                    <div class="plan-description color-light">
                         Novice >>>>> Ninja 
                    </div>
                    <div class="plan-features">
                        <ul class="list-bordered">
                            <li> Introduction to Flutter</li>
                            <li> Dart Essentials</li>
                            <li> Widgets</li>
                            <li>Asynchronous Code</li>
                            <li> Routing</li>
                            <li> Flutter Packages</li>
                            <li> Project</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a  class="btn inverse-color2">get started</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="pricing-plan color3 ls">
                    <div class="plan-name">
                        <h3>
                            Computer Programming    <h6><span> C# / JAVA </span></h6>
                        </h3>
                    </div>
                    <div class="price-wrap color-darkgrey">
                        <span class="plan-sign"></span>
                        <span class="plan-price"></span>
                        <span class="plan-decimals"></span>
                    </div>
                    <div class="plan-description color-darkgrey">
                        Novice >>>>> Ninja 
                    </div>
                    <div class="plan-features">
                        <ul class="list-bordered">
                            <li> Introduction </li>
                            <li> Object & Classes</li>
                            <li> Decision Making</li>
                            <li> Data Structure</li>
                            <li>  Inheritance </li>
                            <li> Exception Handling</li>
                            <li> Project</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a  class="btn inverse-color3">get started</a>
                    </div>
                </div>
            </div>

            <div class="divider-60 d-none d-lg-block"></div>

            <div class="col-lg-4 col-md-12">
                <div class="pricing-plan color1 ls">
                    <div class="plan-name">
                        <h3>
                           Digital Marketing 
                        </h3>
                    </div>
                    <div class="price-wrap color-darkgrey">
                        <span class="plan-sign"></span>
                        <span class="plan-price"></span>
                        <span class="plan-decimals"></span>
                    </div>
                    <div class="plan-description color-darkgrey">
                        Novice >>>>> Ninja
                    </div>
                    <div class="plan-features">
                        <ul class="list-bordered">
                            <li> Intro to Digital Marketing </li>
                            <li> Branding </li>
                            <li> Facebook Marketing </li>
                            <li> Sales Psychology</li>
                            <li> Youtube Marketing</li>
                            <li> Twitter Marketing</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a  class="btn inverse-color1">get started</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 ">
                <div class="pricing-plan plan-featured color2">
                    <div class="plan-name">
                        <h3>
                           Networking     <h6><span> Introduction (CCNA) </span></h6>
                        </h3>
                    </div>
                    <div class="price-wrap color-light">
                        <span class="plan-sign"></span>
                        <span class="plan-price"></span>
                        <span class="plan-decimals"></span>
                    </div>
                    <div class="plan-description color-light">
                        Basics of Networking
                    </div>
                    <div class="plan-features">
                        <ul class="list-bordered">
                            <li> Introduction</li>
                            <li>Cabling</li>
                            <li> Subnetting</li>
                            <li> Routing Basics</li>
                            <li> Switching</li>
                            
                            <li> IPv6 and WAN</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a href="#" class="btn inverse-color2">get started</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="pricing-plan color3 ls">
                    <div class="plan-name">
                        <h3>
                            Graphics Design    <h6><span>  </span></h6>
                        </h3>
                    </div>
                    <div class="price-wrap color-darkgrey">
                        <span class="plan-sign"></span>
                        <span class="plan-price"></span>
                        <span class="plan-decimals"></span>
                    </div>
                    <div class="plan-description color-darkgrey">
                        Creating Memories
                    </div>
                    <div class="plan-features">
                        <ul class="list-bordered">
                            <li>  Corel draw</li>
                            <li>  Photoshop</li>
                            <li>  Adobe Illustrator</li>
                            <li>  Video Scribe </li>
                            <li>  Microsoft Publisher </li>
                            <li>  Project </li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a href="#" class="btn inverse-color3">get started</a>
                    </div>
                </div>
            </div>

            <div class="divider-60 d-none d-lg-block"></div>
        </div>
    </div>
</section>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">Date of birth</label>
          <!--<div class="input-group">
            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
            </div>
          </div>-->
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  
  <!--<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>-->

