

<div class="margin-div2">

<section class="page_title ls s-py-50 corner-title ls invise overflow-visible">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>About</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/">Home</a>
                    </li>
                    
                    <li class="breadcrumb-item active">
                        About
                    </li>
                </ol>
                <div class="divider-15 d-none d-xl-block"></div>
            </div>
        </div>
    </div>
</section>


<section class="s-pt-30 s-pt-lg-50 ls about">
    <div class="divider-60 d-none d-xl-block"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="main-content text-center animate" data-animation="fadeInRight" data-delay="150">
                    <h5 style="font-family: 'Trebuchet MS'">
                        "At Listacc, we believe that people with passion can change the world. 
                        We empower individuals, businesses and social enterprises with solutions to live a better life."
                    </h5>
                    <i class="rt-icon2-user"></i>
                    <p>
                        Agozie Okechukwu,
                        <span class="link-a">
                            <a disabled="disabled">CEO</a>
                        </span>
                    </p>

                    <div class="divider-10 d-none d-xl-block"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="s-pt-0  s-pb-30 s-pt-lg-30 s-pb-lg-75 ls about-icon teaser-contact-icon">
    <div class="divider-10 d-none d-xl-block"></div>
    <div class="container">
        <div class="row c-mt-50 c-mt-lg-0">
            <div class="col-lg-4 text-center call-icon">
                <div class="border-icon">
                    <div class="teaser-icon" style="padding-top: 30px;">
                        <i class="fal fa-gem" style="font-size: 80px;"></i>
                    </div>
                </div>
                <h6>
                    Who We Are
                </h6>
                <div class="icon-content text-justify">
                    <p>
                        Listacc aims to provide solutions that meet international standards to individuals and businesses, putting in mind their respective customers.

                        We are out to prove that solutions from inside Africa can be the best in class worldwide
                      </p>
                </div>
            </div>
            <div class="col-lg-4 text-center write-icon">
                <div class="divider-30 d-none d-xl-block"></div>
                <div class="border-icon ">
                    <div class="teaser-icon " style="padding-top: 30px;">
                        <i class="fal fa-eye " style="font-size: 80px;"></i>
                    </div>
                </div>
                <div class="icon-content">
                    <h6>
                        Our Vision

                    </h6>
                    <p class="text-justify">
                        We pursue a global vision to put technological solutions in the hands of every professional individual, businesses, organisation and contributing  to solve social problems.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 text-center visit-icon">
                <div class="border-icon">
                    <div class="teaser-icon" style="padding-top: 30px;">
                        <i class="fal fa-rocket" style="font-size: 80px;"></i>
                    </div>
                </div>
                <div class="icon-content">
                    <h6>
                        Our Mission
                    </h6>
                    <p class="text-justify">
                        Staying true and dedicated to improving lives and ways of living through the application of 
                        leading edge technology in providing efficient solutions to the daily challenges of people in a timely manner.                   
                     </p>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="ls s-pt-20 s-pb-75 s-pt-lg-50 s-pb-lg-130 icon-service animate" data-animation="fadeInUp" data-delay="1000" >
    <div class="container">
        <div class="row">
            <div class="row border-bottom c-mb-md-50">
                <div class="col-md-12">
                    <div class="media ">
                        <img src="../assets/images/about/culture.png" alt="">
                        <div class="media-body">
                            <h6>
                                <a disabled="disabled" > Our<span> Culture </span></a>
                            </h6>
                            <p>
                                At Listacc, our culture is not a reflection of one person’s personal views or behaviour.It is a
                                house full of colors, with each shade and nuance a testimony to our diversity, but which in its
                                entirety synthesizes into beautiful oneness. All members of the team have a considerable level
                                of autonomy in making decisions while being accountable to superior authority. This system
                                works because we maintain an atmosphere of trust. We trust each other’s skills, character, and 
                                capacity to grow. When a new team member joins, it becomes everyone’s duty to assimilate him/her 
                                into the family. It is called the Listacc family.
                                
                                Because we believe that everyone and anyone can supply great ideas, we meet thrice a week
                                to discuss the challenges each person or team is currently facing in executing a task. Looking at problems from other angles and rubbing minds with other people in other departments has led to to several eureka moments. Because we believe in ideas, we keep them in constant flux
                                among us. Beyond the constant exchange of ideas among us, we close each week with sharing sessions where a person stands before other members of the team and shares ideas or stories of her choice.
                                We are always proactive. At the organizational level, we do not wait for the government or any
                                organization to engage us. Instead, we take an active role in sourcing for problems and fixing
                                them. Our probes are out there, feeling for problems worthy of attention. And we do not just use technology to fix other people’s problems, we do the same for the problems we face everyday.
                                Two good examples are the Listacc Finance Suite, a bespoke software for managing all our
                                financial activities, and TestTaker, a test-taking app.
                                
                            </p>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="divider-30"></div>
            <div class="row border-bottom c-mb-md-50 animate" data-animation="fadeInUp" data-delay="150"  >
                <div class="col-md-12">
                    <div class="media ">
                        <img src="../assets/images/about/story.jpg" alt="">
                        <div class="media-body">
                            <h6>
                                <a disabled="disabled">Our<span> Story </span></a>
                            </h6>
                            <p>
                                Putting solving Africa’s biggest challenges first, two award winning Computer science graduates from Covenant University came together and decided to take on the challenge of creating global standard technological solutions to meet Africa’s needs.

                                We have a growing team with the drive to succeed, this is just the beginning, we are yet to scratch the surface of our vision. We will not stop until we see our solutions first-in-line solving Africa’s problems.
                                
                            </p>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="divider-10"></div>
          
        </div>
    </div>

</section>



<section class="s-pt-30 s-pt-lg-50 ls about">
    
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="main-content text-center">
                    <h2>
                        Our Wonderful <span>Clients </span>
                    </h2>
                   
                    <div class="divider-10 d-none d-xl-block"></div>
                </div>
            </div>
        </div>
    </div>
</section>









<section class="s-pt-20 s-pt-lg-30 gallery-carousel main-gallery container-px-0 ">
    <div class="container-fluid">
        <div class="divider-5 d-none d-xl-block"></div>
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel gallery-owl-nav" data-autoplay="true" data-responsive-lg="5" data-responsive-md="3" data-responsive-sm="3" data-responsive-xs="2" data-nav="true" data-dots="false" data-filters=".gallery-filters" data-margin="0" data-loop="true">
                    
                    <div class="vertical-item item-gallery content-absolute text-center ds logo-design">
                        <div class="item-media clients-logo">
                            <img src="../assets/images/clients/annunciation.jpg" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" disabled > project</a>
                            </h6>
                            <h6>
                                <a disabled> Data Center Set-Up and School Mgt System </a>
                            </h6>
                        </div>
                    </div>
                   
                    <div class="vertical-item item-gallery content-absolute text-center ds ">
                        <div class="item-media clients-logo">
                            <img src="../assets/images/clients/quickwaka.jpg" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" disabled >project</a>
                            </h6>
                            <h6>
                                <a href="www.quickwaka.com">QuickWaka Digital errand service</a>
                            </h6>
                        </div>
                    </div>
                    <div class="vertical-item item-gallery content-absolute text-center ds design">
                        <div class="item-media clients-logo">
                            <img src="../assets/images/clients/holyghost.png" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" disabled>project</a>
                            </h6>
                            <h6>
                                <a href="gallery-regular.html"> School Management System</a>
                            </h6>
                        </div>
                    </div>
                    <div class="vertical-item item-gallery content-absolute text-center ds photo">
                        <div class="item-media clients-logo">
                            <img src="../assets/images/clients/assembliesofgod.png" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" DISABLED>project</a>
                            </h6>
                            <h6>
                                <a disabled> Evangel Daily Meal Devotional & Sunday School Lessons Library </a>
                            </h6>
                        </div>
                    </div>



                    <div class="vertical-item item-gallery content-absolute text-center ds photo">
                        <div class="item-media clients-logo">
                            <img src="../assets/images/clients/statesman.png" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" DISABLED>project</a>
                            </h6>
                            <h6>
                                <a disabled> School Management System </a>
                            </h6>
                        </div>
                    </div>



                    <div class="vertical-item item-gallery content-absolute text-center ds photo">
                        <div class="item-media clients-logo">
                            <img src="../assets/images/clients/sttheresas.jpg" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" DISABLED>project</a>
                            </h6>
                            <h6>
                                <a disabled> School Management System </a>
                            </h6>
                        </div>
                    </div>




                    <div class="vertical-item item-gallery content-absolute text-center ds photo">
                        <div class="item-media clients-logo">
                            <img src="../assets/images/clients/redemers.png" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" DISABLED>project</a>
                            </h6>
                            <h6>
                                <a disabled> School Management System </a>
                            </h6>
                        </div>
                    </div>







                </div>
                <!-- .owl-carousel-->
            </div>
        </div>
    </div>
</section>
</div>

