


<section class="page_title ls s-py-50 corner-title ls invise overflow-visible">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Blog </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/">Home</a>
                    </li>
                    
                    <li class="breadcrumb-item active">
                        Blog 
                    </li>
                </ol>
                <div class="divider-15 d-none d-xl-block"></div>
            </div>
        </div>
    </div>
</section>


<section class="ls s-pt-50 s-pb-50 s-pt-md-75 s-pt-lg-50 s-pb-lg-100 blog4">
    <div class="container">
        <div class="d-none d-lg-block divider-65"></div>

        <div class="row c-gutter-60">

            <main class="col-lg-7 col-xl-8">
                <article class="text-center text-md-left vertical-item blog-padding ls ms post type-post status-publish format-standard has-post-thumbnail sticky">
                    <div class="post-thumb">
                        <a href="post4.html">
                            <img src="../assets/images/blog/elearning.jpg" alt="">
                        </a>
                    </div>
                    <div class="item-content">
                        <div class="tags-button small-text">
                            <a href="#"> E-Learning </a>
                        </div>
                        <header class="entry-header">
                            <h3 class="entry-title">
                                <a href="post4.html" rel="bookmark">
                                    The COVID-19 pandemic has changed education forever
                                </a>
                            </h3>
                        </header>
                        <!-- .entry-header -->

                        <div class="entry-content">
                            <p>
                                The COVID-19 has resulted in schools shut all across the world. Globally,
                                 over 1.2 billion children are out of the classroom.
                            </p>
                            <p>
                                As a result, education has changed dramatically, with the distinctive 
                                rise of e-learning, whereby teaching is undertaken remotely and on digital platforms.
                            </p>

                            <p>
                                Research suggests that online learning has been shown to increase retention of information,
                                 and take less time, meaning the changes coronavirus have caused might be here to stay. 
                            </p>

                        </div>
                        <!-- .entry-content -->
                    </div>
                    <!-- .item-content -->
                    <div class="entry-meta ds with_padding">
                    
                        
                        <div>
                            <i class="fa fa-calendar color-main fs-14"></i> &nbsp;
                            <a href="#">
                                <time datetime="2020-06-20T10:14:59+00:00">20.06.20</time>
                            </a>
                        </div>
                        <!-- .entry-date -->
                        <div class="blog-adds">
                            <span>
                                <i class="fa fa-eye color-main fs-14"></i>
                                <a href="#">
                                    <span>126</span>
                                </a>
                            </span>
                            <span>
                                <i class="fa fa-comments color-main fs-14"></i>
                                <a href="#">
                                    <span>3</span>
                                </a>
                            </span>
                            <span>
                                <i class="fa fa-heart color-main fs-14"></i>
                                <a href="#">
                                    <span>0</span>
                                </a>
                            </span>
                        </div>
                        <div class="entry-blog-share">
                            <a href="#">
                                <i class="fa fa-share-alt"></i>
                            </a>
                        </div>
                        <!-- eof .entry-blog-share -->
                    </div>

                </article>
                <!-- #post-## -->

                
            

              


               
            </main>

            <aside class="col-lg-5 col-xl-4">
                <div class="widget widget_search ds texture-ds">
                    <h6>Search</h6>
                    <form role="search" method="get" class="search-form" action="/">
                        <label for="search-form-widget">
                            <span class="screen-reader-text">Search for:</span>
                        </label>
                        <input type="search" id="search-form-widget" class="text-left search-field form-control" placeholder="Search Keyword" name="Search Keyword">
                        <button type="submit" class="search-submit">
                            <span class="screen-reader-text">Search</span>
                        </button>
                    </form>
                </div>


            

                <div class="widget widget_slider">

                    <h3 class="widget-title">Recent Posts</h3>
                    <div class="item-media">
                        <div class="owl-carousel gallery-owl-nav" data-nav="true" data-loop="false" data-autoplay="true" data-items="1" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1">

                            <div class="vertical-item">
                                <div class="item-media">
                                    <img src="../assets/images/blog/elearning.jpg" alt="">
                                </div>
                                <div class="item-content widget-content ls ms">
                                    <p class="widget-content">
                                        <a href="post1.html">
                                            The COVID-19 pandemic has changed education forever
                                        </a>
                                    </p>
                                    <p class="item-meta link-a">
                                        <a href="blog-3.html">
                                            20.06.2020
                                        </a>
                                    </p>

                                </div>
                            </div>
                            
                            
                        </div>
                        <!-- .owl-carousel -->
                    </div>

                </div>
                <!-- .widget_slider -->


                <div class="widget widget_calendar">

                    <div id="calendar_wrap" class="calendar_wrap">
                        <table id="wp-calendar">
                            <caption>March 2018</caption>
                            <thead>
                                <tr>
                                    <th scope="col" title="Monday">Mon</th>
                                    <th scope="col" title="Tuesday">Tue</th>
                                    <th scope="col" title="Wednesday">Wed</th>
                                    <th scope="col" title="Thursday">Thu</th>
                                    <th scope="col" title="Friday">Fri</th>
                                    <th scope="col" title="Saturday">Sat</th>
                                    <th scope="col" title="Sunday">Sun</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="1" class="pad">&nbsp;</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>
                                        <a href="blog-3.html" aria-label="Posts published on January 5, 2017">5</a>
                                    </td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>8</td>
                                    <td>
                                        <a href="blog-3.html" aria-label="Posts published on January 9, 2017">9</a>
                                    </td>
                                    <td>
                                        <a href="blog-3.html" aria-label="Posts published on January 10, 2017">10</a>
                                    </td>
                                    <td>
                                        <a href="blog-3.html" aria-label="Posts published on January 11, 2017">11</a>
                                    </td>
                                    <td>12</td>
                                    <td>13</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>15</td>
                                    <td>16</td>
                                    <td>17</td>
                                    <td>18</td>
                                    <td>19</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>21</td>
                                    <td>22</td>
                                    <td>23</td>
                                    <td>24</td>
                                    <td>25</td>
                                    <td>26</td>
                                    <td>27</td>
                                </tr>
                                <tr>
                                    <td>28</td>
                                    <td>29</td>
                                    <td>30</td>
                                    <td>31</td>
                                    <td class="pad" colspan="3">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


               


            </aside>

            <div class="d-none d-lg-block divider-105"></div>
        </div>

    </div>
</section>
